body {
  margin: 0;
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  background-image: url(../images/bg-pattern-desktop.svg);
}
.wrapper {
  max-width: 1440px;
  margin: auto;
}

.container {
  display: flex;
}
.informacion {
  margin: auto;
}
.informacion img {
  object-fit: cover;
}
strong {
  color: hsl(0, 36%, 70%);
}
.informacion h1 {
  font-size: 70px;
  max-width: 370px;
  letter-spacing: 15px;
  font-weight: 400;
}
.informacion p {
  max-width: 430px;
  color: hsl(0, 36%, 70%);
}
.informacion input {
  width: 400px;
  margin: 30px auto;
  padding: 15px;
  border-radius: 20px;
  border: 1px solid hsl(0, 36%, 70%);
}
.informacion button {
  height: 49px;
  width: 76px;
  border-radius: 40px;
  font-size: 25px;
  position: relative;
  right: 50px;
  bottom: -5px;
  background: hsl(0, 93%, 68%);
  border: none;
}
.informacion a {
  color: white;
  text-decoration: none;
  background: hsl(0, 93%, 68%);
}

@media screen and (max-width: 375px) {
  .container {
    display: block;
  }
  .informacion img {
    margin-top: 50px;
    margin-left: 30px;
  }
  .info {
    position: relative;
    top: 500px;
    text-align: center;
  }
  .info p {
    width: 350px;
    margin: auto;
  }
  .informacion input {
    width: 250px;
    margin-left: 15px;
  }
  .informacion button {
    bottom: 80px;
    left: 120px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  }
  .image img {
    position: relative;
    bottom: 500px;
    max-width: 100%;
    object-fit: cover;
  }
}
